<% layout('../../views/layout') -%>

<div style="display: <%= verificationErrors ? 'none' : '' %>">
	<h2>Thank you!</h2>
	<p>Your email address has been verfied.</p>
</div>

<div style="display: <%= verificationErrors.keyError ? '' : 'none'%>">
	<h2>Error</h2>
	<p><%=verificationErrors.keyError%></p>
</div>

<div style="display: <%=verficationErrors.userError ? '' : 'none' %>">
	<h2>Error</h2>
	<p><%=verficationErrors.userError%></p>
</div>