<!DOCTYPE html>
<html>
    <head>
	<title>Boot and Bonnet</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<%-stylesheets%>
	<style>
	    body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	    }
	</style>
	</head>
    <body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
		<div class="container">
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </a>
		    <a class="brand" href="/">Boot&Bonnet</a>
		    <div class="nav-collapse collapse">
			<ul class="nav nav-pills">
			    <li><a href="/">Home</a></li>
			    <li><a href="#buy">Buy</a></li>
			    <li><a href="#sell">Sell</a></li>
			</ul>
			<ul class="nav nav-pills pull-right">
			    <% if (isLoggedIn) { %>
			    <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown"
				   href="#">
				    My Account
				    <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				    <li><a href="/seller/<%=sellerId%>/view">Profile</a></li>
				    <li><a href="/seller/<%=sellerId%>/vehicles/list">Vehicles</a></li>
					<li class="divider"></li>
				    <li><a href="/?logout=true">Log out</a></li>
				</ul>
			    </li>
			    <% } else { %>
			    <li><a href="/login">Login</a></li>
			    <li><a href="/sellers/add">Register</a></li>
			    <% } %>
			</ul>
		    </div><!--/.nav-collapse -->
		</div>
	    </div>
	</div>
	<div class="container">
	    <%-body -%>
	</div>
	<script src="/static/js/jquery-1.9.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<%-scripts%>
    </body>
</html>
