<% layout('../views/layout') -%>

<div class="page-header">
	<h1>Order <small><%=order._id%></small></h1>
</div>


<table class="table">
	<thead>
		<th>#</th>
		<th>Item</th>
		<th>Weeks</th>
		<th>Cost</th>
	</thead>
	<tbody>
	<% for (var i = 0; i < items.length; i++) { %>
		<tr>
			<td><%=item.type.make%>&nbsp;<%=item.type.model%>&nbsp;<%=item.type.year%></td>
			<td>
			</td>
			<td	class="bootandbonnet-cost" data-custom="<%=item._id%>"	></td>
		</tr>
	<% } %>
		<tr>
			<th colspan="2" >Total</th>
			<th id="total"></th>
		</tr>
	</tbody>
</table>