<% layout('../views/layout') -%>

<div class="page-header">
	<h1>My Orders</h1>
</div>

<h2>Pending</h2>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Number</th>
				<th>Date Placed</th>
				<th>Amount</th>
				<th>View</th>
			</tr>
		</thead>
		
		<tbody>
			<% 
			counter = 0
			for (var i = 0; i < orders.length; i++) {
				if (! orders[i].datePaid) {
					counter++
			%>
			
			<tr>
				<td><%=i+1%></td>
				<td><%=orders[i]._id%></td>
				<td><%=orders[i].datePlaced%></td>
				<td><%=orders[i].amount%></td>
				<td><a href="/orders/<%=orders[i]._id%>/view" class="btn btn-default">View</a></td>
			</tr>
			
			<% 
			} // end if 
			} // end for
			if (counter === 0) {
			%>
		
			<tr>
				<td colspan="6">
					<div class="alert alert-info">
						<p style="margin: auto">None</p>
					</div>
				</td>
			</tr>
			
			<% 
			} // end if
			%>
		</tbody>
	</table>
	
<h2>Paid</h2>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Number</th>
				<th>Date Placed</th>
				<th>Date Paid</th>
				<th>Amount</th>
				<th>View</th>
			</tr>
		</thead>
		
		<tbody>
			<% 
			counter = 0
			for (var i = 0; i < orders.length; i++) {
				if (orders[i].datePaid) {
					counter++
			%>
			
			<tr>
				<td><%=i+1%></td>
				<td><%=orders[i]._id%></td>
				<td><%=orders[i].datePlaced%></td>
				<td><%=orders[i].datePaid%></td>
				<td><%=orders[i].amount%></td>
				<td><a href="/orders/<%=orders[i]._id%>/view" class="btn btn-default">View</a></td>
			</tr>
			
			<% 
			} // end if 
			} // end for
			if (counter === 0) {
			%>
		
			<tr>
				<td colspan="6">
					<div class="alert alert-info">
						<p style="margin: auto">None</p>
					</div>
				</td>
			</tr>
			
			<% 
			} // end if
			%>
		</tbody>
	</table>
