<% layout('../../views/layout') -%>
<% script('../static/js/sellers/registration-form.js') -%>

<%
var provincesString = JSON.stringify(provinces);

if (validationErrors) {
	if (validationErrors.emailError) {
		var emailError = validationErrors.emailError;
		var emailAlertType = 'error';
	} else {
		var emailError = '';
		var emailAlertType = '';
	}

	if (validationErrors.passwordError) {
		var passwordError = validationErrors.passwordError;
		var passwordAlertType = 'error';
	} else {
		var passwordError = '';
		var passwordAlertType = '';
	}

	if (validationErrors.isContactNumbersError) {
		var contactNumbersAlertDisplay = '';
	} else {
		var contactNumbersAlertDisplay = 'none';
	}

	if (validationErrors.isSellerTypeError) {
		var sellerTypeAlertDisplay = '';
	} else {
		var sellerTypeAlertDisplay = 'none';
	}

	if (validationErrors.isLocationError) {
		var locationAlertDisplay = '';
	} else {
		var locationAlertDisplay = 'none';
	}

	if (validationErrors.townError) {
		var townError = validationErrors.townError;
		var townAlertType = 'error';
	} else {
		var townError = '';
		var townAlertType = '';
	}

	if (validationErrors.dealershipNameError) {
		var dealershipNameError = validationErrors.dealershipNameError;
		var dealershipNameAlertType = '';
	} else {
		var dealershipNameError = '';
		var dealershipNameAlertType = 'error';
	}

	if (validationErrors.dealershipAddressError) {
		var dealershipAddressError = validationErrors.dealershipAddressError;
		var dealershipAddressAlertType = '';
	} else {
		var dealershipAddressError = '';
		var dealershipAddressAlertType = 'error';
	}
} else {
		var emailError = '';
		var emailAlertType = '';
		var passwordError = '';
		var passwordAlertType = '';
		var passwordConfirmedError = '';
		var passwordConfirmedAlertType = '';
		var contactNumbersAlertDisplay = 'none';
		var sellerTypeAlertDisplay = 'none';
		var locationAlertDisplay = 'none';
		var dealershipNameError = '';
		var dealershipNameAlertType = '';
		var dealershipAddressError = '';
		var dealershipAddressAlertType = '';
}
%>


<form id="register" method="post" action="<%=action%>">
	<input type="hidden" id="loggedIn" value="<%=isLoggedIn%>" />
    <h2><%=heading%></h2>
    <fieldset>
		<legend>Account credentials</legend>
		<div class="row">
			<div class="span6">
	<!-- Email address -->
				<div id="divEmail" class="control-group <%=emailAlertType%>">
					<label class="control-label" for="email">Email address</label>
					<div class="controls">
						<input type="email" id="email" name="seller[emailAddress]" value="<%=emailAddress%>"
							/>
						<span id="spanEmail" class="help-inline"><%=emailError %></span>
					</div>
				</div>
			</div>
			<div class="span6">
	<!-- Password -->
				<div id="divPassword" class="control-group <%=passwordAlertType%>">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" id="password" name="seller[password]" value="<%=password%>"/>
						<span id="spanPassword" class="help-inline"><%=passwordError%></span>
					</div>
				</div>
	<!-- Confirm password -->
				<div id="divConfirmPassword" class="control-group <%=passwordConfirmedAlertType || ''%>">
					<label class="control-label" for="confirmPassword">Confirm password</label>
					<div class="controls">
						<input type="password" id="confirmPassword" name="seller[confirmPassword]"
							value="<%=password%>"/>
						<span id="spanConfirmPassword" class="help-inline"></span>
					</div>
				</div>
			</div>
		</div>
    </fieldset>
    <fieldset>
		<legend>Contact information</legend>
		<div class="row">
			<div class="span6">
	<!-- First name -->
				<div id="divFirstName" class="control-group">
					<label class="control-label" for="first_name">First name</label>
					<div class="controls">
						<input type="text" id="first_name" name="seller[firstname]" value="<%=firstname%>"
								/>
						<span id="spanFirstName" class="help-inline">&nbsp;</span>
					</div>
				</div>
	<!-- Surname -->
				<div id="divSurname" class="control-group">
					<label class="control-label"  for="surname">Surname</label>
					<div class="controls">
						<input type="text" id="surname" name="seller[surname]" value="<%=surname%>"
								/>
						<span id="spanSurname" class="help-inline">&nbsp;</span>
					</div>
				</div>
			</div>
			<div class="span6">
				<div id="contactNumbersAlert" class="alert alert-error"
						style="display: <%=contactNumbersAlertDisplay%>">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					Please supply either a telephone or a cellphone number, or both. Use only digits, e.g. 0123456789.
				</div>
	<!-- Telephone -->
				<div id="divTelephone" class="control-group">
					<label class="control-label" for="telephone">Telephone</label>
					<div class="controls">
						<input type="tel" id="telephone" name="seller[telephone]"
								value="<%=contactNumbers.telephone%>"/>
						<span id="spanTelephone" class="help-inline">&nbsp;</span>
					</div>
				</div>
	<!-- Cellphone -->
				<div id="divCellphone" class="control-group">
					<label class="control-label" for="cellphone">Cell phone</label>
					<div class="controls">
						<input type="tel" id="cellphone" name="seller[cellphone]"
								value="<%=contactNumbers.cellphone%>"/>
						<span id="spanCellphone" class="help-inline">&nbsp;</span>
					</div>
				</div>
			</div>
		</div>
    </fieldset>
    <fieldset>
		<legend>Seller type</legend>
		<input type="hidden" id="sellerType" value="<%=sellerType%>" />
		<div id="sellerTypeAlert" class="alert alert-error" style="display: <%=sellerTypeAlertDisplay%>">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Please specify which type of seller you are by clicking either the Private seller option button or the
			Dealership option button.
		</div>
		<div class="row">
	<!-- Private seller -->
			<div class="span3">
				<label class="radio">
					<input type="radio" id="privateSeller" name="seller[type]"
							value="private seller" />Private seller
				</label>
			</div>
	<!-- Dealership -->
			<div class="span3">
				<label class="radio">
					<input type="radio" id="dealership"  name="seller[type]"
							value="dealership" />Dealership
				</label>
			</div>
		</div>
    </fieldset>
    <fieldset>
		<legend id="dealerOrLocation">Location</legend>
		<div id="locationAlert" class="alert alert-error" style="display: <%=locationAlertDisplay%>">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Please specify the province and town.
		</div>
		<div class="row">
			<div class="span6" id="leftColumn">
				<div id="dealershipDetails" style="display: none">
	<!-- Dealership name -->
					<div class="control-group <%=dealershipNameAlertType%>" >
						<label class="control-label" for="dealershipName">Name</label>
						<div class="controls">
							<input type="text" id="dealershipName" name="seller[dealershipName]"
								   value="<%=dealershipName%>" />
							<span class="help-inline"><%=dealershipNameError%></span>
						</div>
					</div>
	<!-- Street address -->
					<div class="control-group <%=dealershipAddressAlertType%>">
						<label class="control-label" for="streetAddress1">Street address</label>
						<div class="controls">
							<input type="text" id="streetAddress1" name="seller[street]"
								   value="<%=address.street%>" /><br />
							<input type="text" id="streetAddress2" name="seller[suburb]"
								   value="<%=address.suburb%>" />
							<span class="help-inline"><%=dealershipAddressError%></span>
						</div>
					</div>
				</div>
	<!-- Province -->
				<div id="provincesDiv">
					<label>Province</label>
					<select id="provinces" name="seller[province]">
					<% if (province) { %>
						<option selected="selected" value="<%=address.province%>"><%=address.province%></option>
					<% } else { %>
						<option selected="selected">Please select ...</option>
					<% } %>
					<% for (p in provinces) { %>
						<option value="<%=provinces[p].name%>"><%=provinces[p].name%></option>
					<% } %>
					</select>
				</div>
			</div>
			<div class="span6" id="rightColumn">
				<input type="hidden" id="locations" value="<%=provincesString%>" />
	<!-- Town -->
				<div id="townsDiv">
					<label>Town</label>
					<select id="towns" name="seller[town]">
					<% if (town) { %>
						<option selected="selected" value="<%=address.town%>"><%=address.town%></option>
					<% } else { %>
						<option selected="selected">Please select ...</option>
					<% } %>
					</select>
				</div>
			</div>
			</div>
    </fieldset>

    <div class="form-actions">
		<button type="submit" class="btn btn-primary" ><%=buttonCaption%></button>
		<button type="button" class="btn" id="cancelButton" >Cancel</button>
    </div>
</form>
