<% layout('../views/layout') -%>
<% script('../../../static/js/vehicle-registration-form.js') -%>
<% script('../../../static/js/bootstrap.file-input.js') -%>

<div class="page-header">
	<h1><%=heading%></h1>
</div>

<form action="<%=action%>" method="post"  enctype="multipart/form-data">
	<input type="hidden" name="vehicle[_id]" value="<%=vehicle._id%>" />

	<div class="row">
		<div class="col-md-6" style="margin-left:0">
			<span><strong>Market</strong></span>

			<div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
				<label for="marketNew" class="btn btn-default">
					<input type="radio" id="marketNew"
						onclick="document.getElementById('market').value = 'new';"> New
				</label>
				<label for="marketUsed" class="btn btn-default">
					<input type="radio" id="marketUsed"
						onclick="document.getElementById('market').value = 'used';"> Used
				</label>
			</div>

			<input type="hidden" name="vehicle[market]" value="<%=vehicle.market%>" id="market">
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legend>Type</legend>

				<div class="form-group">
					<label for="makes" class="control-label">Make</label>
					<select name="vehicle[type][make]" id="makes" class="form-control">
					<% if (vehicle) { %>
						<option selected="selected" value="<%=vehicle.type.make%>"><%=vehicle.type.make%></option>
					<% } else { %>
						<option selected="selected">Please select ...</option>
					<% } %>

					<% for (m in makes) { %>
						<option><%=makes[m].name %></option>
					<% } %>
					</select>
				</div>

				<div class="form-group">
					<label for="models" class="control-label">Model</label>
					<select name="vehicle[type][model]" id="models" class="form-control">
					<% if (vehicle) { %>
						<option selected="selected" value="<%=vehicle.type.model%>"><%=vehicle.type.model%></option>
					<% } else { %>
						<option selected="selected">Please select ...</option>
					<% } %>
					</select>
				</div>

				<div class="form-group">
					<label for="year" class="control-label">Year:</label>
					<select name="vehicle[type][year]" id="year" class="form-control">
					<% if (vehicle) { %>
						<option selected="selected" value="<%=vehicle.type.year%>"><%=vehicle.type.year%></option>
					<% } else { %>
						<option selected="selected">Please select ...</option>
					<% } %>

					<% for (var year = thisYear; year >= 1886; year--) { %>
						<option value="<%=year%>"><%=year %></option>
					<% } %>
					</select>
				</div>

				<input type="hidden" id="manufacturers" value="<%=manufacturersString %>"/>
			</fieldset>
		</div>

		<div class="col-md-6">
			<fieldset>
				<legend>Description</legend>

				<div class="form-group">
					<label for="mileage" class="control-label">Mileage</label>
					<div class="input-group">
						<input type="text" name="vehicle[description][mileage]" value="<%=vehicle.description.mileage%>"
							id="mileage" class="form-control"
						>
						<span class="input-group-addon">km</span>
					</div>
				</div>

				<div class="form-group">
					<label for="color" class="control-label">Colour</label>
					<select name="vehicle[description][color]" id="color" class="form-control">
					<% if (vehicle) { %>
						<option selected="selected" value="<%=vehicle.description.color%>">
							<%=vehicle.description.color%>
						</option>
					<% } else { %>
						<option selected="selected">Please select ...</option>
					<% } %>

					<% for (var i = 0; i < colors.length; i++) { %>
						<option value="<%=colors[i]%>"><%=colors[i]%></option>
					<% } %>
					</select>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Full Service History</strong></span>

						<div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
							<label for="fullServiceHistoryYes" class="btn btn-default">
								<input type="radio" id="fullServiceHistoryYes"
									onclick="document.getElementById('fullServiceHistory').value = true;"> Yes
							</label>
							<label for="fullServiceHistoryNo" class="btn btn-default">
								<input type="radio" id="fullServiceHistoryNo"
									onclick="$document.getElementById('fullServiceHistory').value = false;"> No
							</label>
						</div>

						<input type="hidden" name="vehicle[description][fullServiceHistory]"
							value="<%=vehicle.description.fullServiceHistory%>" id="fullServiceHistory"
						>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<fieldset>
				<legend>Mechanics</legend>

				<div class="input-append">
					<label>Engine Capacity:</label>
					<input class="input-small" type="text" id="engineCapacity"
						   name="vehicle[mechanics][engineCapacity]"
						   value="<%=vehicle.mechanics.engineCapacity%>" />
					<span class="add-on">L</span>
				</div>

				<br />

				<label>Fuel Type:</label>

				<select id="fuelTypes" name="vehicle[mechanics][fuel]">

					<% if (vehicle) { %>
					<option selected="selected" value="<%=vehicle.mechanics.fuel%>">
						<%=vehicle.mechanics.fuel%>
					</option>
					<% } else { %>
					<option selected="selected">Please select ...</option>
					<% } %>

					<% for (var i = 0; i < fuels.length; i++) { %>
					<option value="<%=fuels[i]%>"><%=fuels[i]%></option>
					<% } %>

				</select>

				<br />

				<label>Transmission Type:</label>

				<select id="transmissionTypes" name="vehicle[mechanics][transmission]">

					<% if (vehicle) { %>
					<option selected="selected" value="<%=vehicle.mechanics.transmission%>">
						<%=vehicle.mechanics.transmission%>
					</option>
					<% } else { %>
					<option selected="selected">Please select ...</option>
					<% } %>

					<% for (var i = 0; i < transmissions.length; i++) { %>
					<option value="<%=transmissions[i]%>"><%=transmissions[i]%></option>
					<% } %>

				</select>

				<br /><br />

				<p class="span4" style="margin-left:0">
					<span>ABS Brakes:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="absBrakesYes" type="button" class="btn btn-small"
								onclick="document.getElementById('absBrakes').value = true;">Yes</button>
						<button id="absBrakesNo" type="button" class="btn btn-small"
								onclick="document.getElementById('absBrakes').value = false;">No</button>
					</span>

					<input type="hidden" id="absBrakes" name="vehicle[mechanics][absBrakes]"
						   value="<%=vehicle.mechanics.absBrakes%>" />

					<br /><br />

					<span>Power Steering:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="powerSteeringYes" type="button" class="btn btn-small"
								onclick="document.getElementById('powerSteering').value = true;">Yes</button>
						<button id="powerSteeringNo" type="button" class="btn btn-small"
								onclick="document.getElementById('powerSteering').value = false;">No</button>
					</span>

					<input type="hidden" id="powerSteering"
						   name="vehicle[mechanics][powerSteering]"
						   value="<%=vehicle.mechanics.powerSteering%>" />
				</p>
			</fieldset>
		</div>

		<div class="span6">
			<fieldset>
				<legend>Luxuries</legend>

				<label>Electric Windows:</label>

				<select id="electricWindows" name="vehicle[luxuries][electricWindows]">

					<% if (vehicle) { %>
					<option selected="selected" value="<%=vehicle.luxuries.electricWindows%>">
						<%=vehicle.luxuries.electricWindows%>
					</option>
					<% } else { %>
					<option selected="selected">Please select ...</option>
					<% } %>
					<option value="None">None</option>
					<option value="Front Only">Front Only</option>
					<option value="Front and Back">Front and Back</option>
				</select>

				<br /><br />

				<p class="span4" style="margin-left:0">
					<span>Air Conditioning:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="airConditioningYes" type="button" class="btn btn-small"
								onclick="document.getElementById('airConditioning').value = true;">Yes</button>
						<button id="airConditioningNo" type="button" class="btn btn-small"
								onclick="document.getElementById('airConditioning').value = false;">No</button>
					</span>

					<input type="hidden" id="airConditioning"
						   name="vehicle[luxuries][airConditioning]"
						   value="<%=vehicle.luxuries.airConditioning%>" />

					<br /><br />

					<span>CD Player:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="cdPlayerYes" type="button" class="btn btn-small"
								onclick="document.getElementById('cdPlayer').value = true;">Yes</button>
						<button id="cdPlayerNo" type="button" class="btn btn-small"
								onclick="document.getElementById('cdPlayer').value = false;">No</button>
					</span>

					<input type="hidden" id="cdPlayer"
						   name="vehicle[luxuries][cdPlayer]"
						   value="<%=vehicle.luxuries.cdPlayer%>" />

					<br /><br />

					<span>Radio:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="radioYes" type="button" class="btn btn-small"
								onclick="document.getElementById('radio').value = true;">Yes</button>
						<button id="radioNo" type="button" class="btn btn-small"
								onclick="document.getElementById('radio').value = false;">No</button>
					</span>

					<input type="hidden" id="radio"
						   name="vehicle[luxuries][radio]"
						   value="<%=vehicle.luxuries.radio%>" />
				</p>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<fieldset>
				<legend>Security</legend>

				<p class="span4" style="margin-left:0">
					<span>Alarm:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="alarmYes" type="button" class="btn btn-small"
								onclick="document.getElementById('alarm').value = true;">Yes</button>
						<button id="alarmNo" type="button" class="btn btn-small"
								onclick="document.getElementById('alarm').value = false;">No</button>
					</span>

					<input type="hidden" id="alarm"
						   name="vehicle[security][alarm]"
						   value="<%=vehicle.security.alarm%>" />

					<br /><br />

					<span>Central Locking:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="centralLockingYes" type="button" class="btn btn-small"
								onclick="document.getElementById('centralLocking').value = true;">Yes</button>
						<button id="centralLockingNo" type="button" class="btn btn-small"
								onclick="document.getElementById('centralLocking').value = false;">
							No
						</button>
					</span>

					<input type="hidden" id="centralLocking"
						   name="vehicle[security][centralLocking]"
						   value="<%=vehicle.security.centralLocking%>" />

					<br /><br />

					<span>Immobilizer:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="immobilizerYes" type="button" class="btn btn-small"
								onclick="document.getElementById('immobilizer').value = true;">Yes</button>
						<button id="immobilizerNo" type="button" class="btn btn-small"
								onclick="document.getElementById('immobilizer').value = false;">No</button>
					</span>

					<input type="hidden" id="immobilizer"
						   name="vehicle[security][immobilizer]"
						   value="<%=vehicle.security.immobilizer%>" />

					<br /><br />

					<span>Gear Lock:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="gearLockYes" type="button" class="btn btn-small"
								onclick="document.getElementById('gearLock').value = true;">Yes</button>
						<button id="gearLockNo" type="button" class="btn btn-small"
								onclick="document.getElementById('gearLock').value = false;">No</button>
					</span>

					<input type="hidden" id="gearLock"
						   name="vehicle[security][gearLock]"
						   value="<%=vehicle.security.gearLock%>" />
				</p>
			</fieldset>
		</div>

		<div class="span6">
			<fieldset>
				<legend>Safety</legend>

				<label>Air Bags:</label>

				<select id="airBags" name="vehicle[safety][airBags]">

					<% if (vehicle) { %>
					<option selected="selected" value="<%=vehicle.safety.airBags%>">
						<%=vehicle.safety.airBags%>
					</option>
					<% } else { %>
					<option selected="selected">Please select ...</option>
					<% } %>
					<option value=0>0</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
				</select>
			</fieldset>
		</div>
	</div>

	<fieldset id="photos">
		<legend>Photos</legend>

		<input type="hidden" name="deletedPhotos" value="[]">

		<div class="row">
			<div class="span12">
            <ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<img id="photo1"
							src="<%=vehicle._id && vehicle.photos[0] ?
								"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[0].substr(-1))
								: "/static/img/image-placeholder.png"%>"
						>
						<div class="caption">
							<h4 >Photo 1</h4>
							<p>
								<input type="file" class="bootandbonnet-input-file" name="photo1"
										title="Browse" accept="images/*" />
								<button type="button" name="btnphoto1" class="btn-link bootandbonnet-remove-file">
									Remove
								</button>
							</p>
						</div>
						<input type="hidden" name="oldphoto1" class="bootandbonnet-old-photo">
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img id="photo2"
							src="<%=vehicle._id && vehicle.photos[1] ?
								"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[1].substr(-1))
								: "/static/img/image-placeholder.png"%>"
						>
						<div class="caption">
							<h4>Photo 2</h4>
							<p>
								<input type="file" class="bootandbonnet-input-file" name="photo2"
										title="Browse" accept="images/*" />
								<button type="button" name="btnphoto2" class="btn-link bootandbonnet-remove-file">
									Remove
								</button>
							</p>
						</div>
						<input type="hidden" name="oldphoto2" class="bootandbonnet-old-photo">
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img id="photo3"
							src="<%=vehicle._id && vehicle.photos[2] ?
								"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[2].substr(-1))
								: "/static/img/image-placeholder.png"%>"
						>
						<div class="caption">
							<h4>Photo 3</h4>
							<p>
								<input type="file" class="bootandbonnet-input-file" name="photo3"
										title="Browse" accept="images/*" />
								<button type="button" name="btnphoto3" class="btn-link bootandbonnet-remove-file">
									Remove
								</button>
							</p>
						</div>
						<input type="hidden" name="oldphoto3" class="bootandbonnet-old-photo">
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img id="photo4"
							src="<%=vehicle._id && vehicle.photos[3] ?
								"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[3].substr(-1))
								: "/static/img/image-placeholder.png"%>"
						>
						<div class="caption">
							<h4>Photo 4</h4>
							<p>
								<input type="file" class="bootandbonnet-input-file" name="photo4"
										title="Browse" accept="images/*" />
								<button type="button" name="btnphoto4" class="btn-link bootandbonnet-remove-file">
									Remove
								</button>
							</p>
						</div>
						<input type="hidden" name="oldphoto4" class="bootandbonnet-old-photo">
					</div>
				</li>
            </ul>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Price</legend>

		<div class="row">
			<div class="span6">
				<div class="input-prepend input-append">

					<label>Price:</label>

					<span class="add-on">R</span>

					<input id="price" type="text" name="vehicle[price][value]"
						   value="<%=vehicle.price.value%>" />

					<span class="add-on">.00</span>
				</div>
			</div>

			<br />

			<div class="span6">
				<p class="span4" style="margin-left:0">
					<span>Negotiable:</span>

					<span class="btn-group pull-right" data-toggle="buttons-radio">
						<button id="negotiableYes" type="button" class="btn btn-small"
								onclick="document.getElementById('negotiable').value = true;">Yes</button>
						<button id="negotiableNo" type="button" class="btn btn-small"
								onclick="document.getElementById('negotiable').value = false;">No</button>
					</span>

					<input type="hidden" id="negotiable"
						   name="vehicle[price][negotiable]"
						   value="<%=vehicle.price.negotiable%>" />
				</p>
			</div>
		</div>
	</fieldset>

	<br />

	<label>Comments:</label>

	<textarea class="span5" cols="1" rows="3" id="comments" name="vehicle[comments]"><%=vehicle.comments%></textarea>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary" ><%=buttonCaption%></button>
		<button type="button" class="btn btn-default" id="cancelButton" >Cancel</button>
	</div>
</form>