<% layout('../views/layout') -%>
<% script('../../static/js/vehicle-profile-page.js') -%>

<%

var photo1 = vehicle.photos[0] ?
				"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[0].substr(-1))
				: "/static/img/image-placeholder.png";
var photo2 = vehicle.photos[1] ?
				"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[1].substr(-1))
				: "/static/img/image-placeholder.png";
var photo3 = vehicle.photos[2] ?
				"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[2].substr(-1))
				: "/static/img/image-placeholder.png";
var photo4 = vehicle.photos[3] ?
				"/vehicles/".concat(vehicle._id).concat("/photos/").concat(vehicle.photos[3].substr(-1))
				: "/static/img/image-placeholder.png";

if (vehicle.price.negotiable) {
var negotiable = 'negotiable';
} else {
var negotiable = 'not negotiable';
}

if (vehicle.description.fullServiceHistory) {
var fullServiceHistory = 'Yes';
var colorFullServiceHistory = 'green';
} else {
var fullServiceHistory = 'No';
var colorFullServiceHistory = 'red';
}

if (vehicle.mechanics.absBrakes) {
var absBrakes = 'Yes';
var colorAbsBrakes = 'green';
} else {
var absBrakes = 'No';
var colorAbsBrakes = 'red';
}

if (vehicle.security.alarm) {
var alarm = 'Yes';
var colorAlarm = 'green';
} else {
var alarm = 'No';
var colorAlarm = 'red';
}

if (vehicle.security.centralLocking) {
var centralLocking = 'Yes';
var colorCentralLocking = 'green';
} else {
var centralLocking = 'No';
var colorCentralLocking = 'red';
}

if (vehicle.security.immobilizer) {
var immobilizer = 'Yes';
var colorImmobilizer = 'green';
} else {
var immobilizer = 'No';
var colorImmobilizer = 'red';
}

if (vehicle.security.gearLock) {
var gearLock = 'Yes';
var colorGearLock = 'green';
} else {
var gearLock = 'No';
var colorGearLock = 'red';
}

if (vehicle.luxuries.airConditioning) {
var airConditioning = 'Yes';
var colorAirConditioning = 'green';
} else {
var airConditioning = 'No';
var colorAirConditioning = 'red';
}

if (vehicle.luxuries.cdPlayer) {
var cdPlayer = 'Yes';
var colorCDPlayer = 'green';
} else {
var cdPlayer = 'No';
var colorCDPlayer = 'red';
}

if (vehicle.luxuries.radio) {
var radio = 'Yes';
var colorRadio = 'green';
} else {
var radio = 'No';
var colorRadio = 'red';
}
%>

<div class="page-header">
	<h1>Vehicle <small><%=vehicle.market%></small></h1>
</div>

<h2>
	<%=vehicle.type.year%> <%=vehicle.type.make%> <%=vehicle.type.model%> R<%=vehicle.price.value%>
	<small><%=negotiable%></small>
</h2>

<div class="row">
	<div class="col-md-6"> <!-- Thumbnails -->
		<div class="thumbnail">
			<img class="img-responsive" src="<%=photo1%>"/>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img-responsive" src="<%=photo2%>"/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img-responsive" src="<%=photo3%>"/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img-responsive" src="<%=photo4%>"/>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6"> <!-- Description -->
				<fieldset>
					<legend>Description</legend>

					<p>
						<strong>Mileage:</strong>
						<%=vehicle.description.mileage%> km
					</p>

					<p>
						<strong>Colour:</strong>
						<%=vehicle.description.color%>
					</p>

					<p>
						<strong>Full service history:</strong>
						<span style="color:<%=colorFullServiceHistory%>">
							<%=fullServiceHistory%>
						</span>
					</p>
				</fieldset>
			</div>

			<div class="col-md-6"> <!-- Mechanics -->
				<fieldset>
					<legend>Mechanics</legend>

					<p>
						<strong>Engine capacity:</strong>
						<%=vehicle.mechanics.engineCapacity%> L
					</p>

					<p>
						<strong>Fuel type:</strong>
						<%=vehicle.mechanics.fuel%>
					</p>

					<p>
						<strong>Transmission:</strong>
						<%=vehicle.mechanics.transmission%>
					</p>

					<p>
						<strong>ABS Brakes:</strong>
						<span style="color:<%=colorAbsBrakes%>">
							<%=absBrakes%>
						</span>
					</p>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6"> <!-- Security -->
				<fieldset>
					<legend>Security</legend>

					<p>
						<strong>Alarm:</strong>
						<span style="color:<%=colorAlarm%>">
							<%=alarm%>
						</span>
					</p>

					<p>
						<strong>Central locking:</strong>
						<span style="color:<%=colorCentralLocking%>">
							<%=centralLocking%>
						</span>
					</p>

					<p>
						<strong>Immobiliser:</strong>
						<span style="color:<%=colorImmobilizer%>">
							<%=immobilizer%>
						</span>
					</p>

					<p>
						<strong>Gear lock:</strong>
						<span style="color:<%=colorGearLock%>">
							<%=gearLock%>
						</span>
					</p>
				</fieldset>
			</div>

			<div class="col-md-6"> <!-- Luxuries -->
				<fieldset>
					<legend>Luxuries</legend>

					<p>
						<strong>Electrical windows:</strong>
						<%=vehicle.luxuries.electricWindows%>
					</p>

					<p>
						<strong>Air conditioning:</strong>
						<span style="color:<%=colorAirConditioning%>">
							<%=airConditioning%>
						</span>
					</p>

					<p>
						<strong>CD player:</strong>
						<span style="color:<%=colorCDPlayer%>">
							<%=cdPlayer%>
						</span>
					</p>

					<p>
						<strong>Radio:</strong>
						<span style="color:<%=colorRadio%>">
							<%=radio%>
						</span>
					</p>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"> <!-- Safety -->
				<fieldset>
					<legend>Safety</legend>
					<p><strong>Air bags:</strong><%=vehicle.safety.airBags%></p>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"> <!-- Comments -->
				<fieldset>
					<legend>Comments from seller</legend>
					<p><%=vehicle.comments%></p>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<fieldset>
			<legend>Seller <small><%=sellerType%></small></legend>

			<div id="dealership" style="display: <%=dealerDisplay%>">
				<span class="glyphicon glyphicon-home"> <strong><%=seller.dealershipName %></strong></span>
				<div class="row">
					<div class="col-md-6">
						<span class="glyphicon glyphicon-road"> <%=seller.address.street%>, <%=seller.address.suburb%></span>
						<span class="glyphicon glyphicon-map-marker"> <%=seller.address.town%>, <%=seller.address.province%></span>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-user"> <%=seller.contactPerson.firstname%> <%=seller.contactPerson.surname%></span><br>
						<span class="glyphicon glyphicon-earphone"> <%=seller.contactNumbers[0]%></span><br>
						<span class="glyphicon glyphicon-phone"> <%=seller.contactNumbers[1]%></span><br>
					</div>
				</div>
			</div>

			<div id="privateSeller" style="display: <%=privateSellerDisplay%>">
				<div class="row">
					<div class="col-md-6">
						<span class="glyphicon glyphicon-user"> <%=seller.contactPerson.firstname%> <%=seller.contactPerson.surname%></span>
						<span class="glyphicon glyphicon-map-marker"><%=seller.address.town%>, <%=seller.address.province %></span>
					</div>

					<div class="col-md-6">
						<span class="glyphicon glyphicon-earphone"> <%=seller.contactNumbers[0]%></span><br>
						<span class="glyphicon glyphicon-phone"> <%=seller.contactNumbers[1]%></span><br>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="col-md-6">
		<form id="sendEmail" method="post" action="/vehicles/<%=vehicle._id%>/email-seller">
			<fieldset>
				<legend>Email seller</legend>

				<div id="feedBackBanner" class="alert alert-<%=emailFeedback.alertType%>"
					style="display: <%=emailFeedback.alertDisplay%>">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%=emailFeedback.message%>
				</div>

				<div id="divBuyerName" class="form-group">
					<label for="buyerName" class="control-label">Your name</label>
					<input type="text" name="buyer[name]" id="buyerName" class="form-control">
					<span id="spanBuyerName" class="help-inline"></span>
				</div>

				<div class="form-group">
					<label for="buyerEmailAddress" class="control-label">Your email address</label>
					<input type="email" name="buyer[emailAddress]" required id="buyerEmailAddress"  class="form-control">
				</div>

				<div id="divBuyerMessage" class="form-group">
					<label for="buyerMessage" class="control-label">Message</label>
					<textarea name="buyer[message]" id="buyerMessage" class="form-control"></textarea>
					<span id="spanBuyerMessage" class="help-block"></span>
				</div>

				<button type="submit" class="btn btn-success">Send</button>
				<button type="button" id="clearButton" class="btn btn-default">Clear</button>

				<input type="hidden" name="seller[emailAddress]" value="<%=user.emailAddress%>">
				<input type="hidden" name="vehicle[_id]" value="<%=vehicle._id%>">
			</fieldset>
		</form>
	</div>
</div>
<hr>
<a href="/vehicles/<%=vehicle._id%>/edit" class="btn btn-primary">Edit</a>
<a href="/vehicles/<%=vehicle._id%>/remove" class="btn btn-danger">Delete</a>