<% layout('../../views/layout') -%>
<% script('../../static/js/orders/cart-form.js') -%>

<h2>Cart</h2>

<form id="items" action="/order/add" method="post">
	<table class="table">
		<thead>
			<th>Item</th>
			<th>Weeks</th>
			<th>Cost</th>
		</thead>
		<tbody>
			<% for (var i = 0; i < items.length; i++) { var item = JSON.parse(items[i]); %>
			<tr>
				<td><%=item.type.make%>&nbsp;<%=item.type.model%>&nbsp;<%=item.type.year%></td>
				<td>
					<select name="<%=item._id%>" class="span1 cardog-weeks">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
					</select>
				</td>
				<td id="<%=item._id%>" class="cardog-cost"></td>
			</tr>
			<% } %>
			<tr>
				<th colspan="2" >Total</th>
				<th id="total"></th>
			</tr>
		</tbody>
	</table>

	<div class="form-actions">
		<button type="submit" class="btn btn-success">Pay Now</button>
	</div>
</form>