<% layout('../../../views/layout') -%>

<h2>My Vehicles</h2>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Make</th>
			<th>Model</th>
			<th>Year</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
	<% for (var i = 0; i < vehicles.length; i++) { %>
		<form action="/vehicle/view/<%=vehicles[i]._id%>" method="get">
			<tr>
				<td><%=vehicles[i]._id %></td>
				<td><%=vehicles[i].type.make %></td>
				<td><%=vehicles[i].type.model %></td>
				<td><%=vehicles[i].type.year %></td>
				<td><%=vehicles[i].price.value %></td>
				<td><button class="btn btn-info">View</button></td>
			</tr>
		</form>
	<% } %>
	</tbody>
</table>
