<% layout('../../../views/layout') -%>

<%
if (emailError === '') {
	var emailAlertType = '';
} else {
	var emailAlertType = 'error';
}
if (passwordError === '') {
	var passwordAlertType = '';
} else {
	var passwordAlertType = 'error';
}
if (isPasswordReset) {
	var resetDisplay = '';
} else {
	var resetDisplay = 'none';
}
%>

<form method="post" action="/seller/login">
    <fieldset>
        <legend>Log In</legend>
		<div class="alert alert-success" style="display: <%=resetDisplay%>;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Your password has been reset successfully. You may now log in with your new password.
		</div>
		<div class="row">
			<div class="span12">
				<div class="control-group <%=emailAlertType%>">
					<label class="control-label">Email</label>
					<div class="controls">
						<input type="email" name="seller[email]" value="<%=email%>" required="required" />
						<span class="help-block" ><%=emailError%></span>
					</div>
				</div>

				<div class="control-group <%=passwordAlertType%>">
					 <label class="control-label">Password</label>
					<div class="controls">
						<input type="password" name="seller[password]" required="required" />
						<span class="help-block" ><%=passwordError%></span>
					</div>
				</div>

				<div class="controls" >
					<button type="submit" class="btn btn-primary" >Log in</button>
					<a href="/seller/login/password/forgot">Forgot password?</a>
				</div>
			</div>
		</div>
    </fieldset>
</form>